[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiForsk"]
	path = EpiForsk
	url = https://github.com/laksafoss/epiforsk
[submodule "tame"]
	path = tame
	url = https://github.com/laksafoss/tame
